.about__content {
margin-top: 150px;
color: var(--gray);
font-weight: bolder;
}

.about__content .container {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.about__content .about__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: justify;

}


.about__content .about__details div:first-child {
    grid-column: 1/3;
}

.about__content .about__details p {
    margin-top: 20px;
    line-height: 2em;
    color: var(--lightgray);
}

.about__content .about__details span {
    color: var(--orange);
}

.about__content .about__details i {
    font-size: 30px;
    color: var(--orange);
    margin-right: 10px;
       
}
